*.tpy
*.tclrs
*.compiled-library
*.compileinfo
*.tmc
*.tmcRefac
*.project.~u
*.tsproj.bak
*.xti.bak
*.library
LineIDs.dbg
LineIDs.dbg.bak
_Boot/
_CompileInfo/
_ModuleInstall/
_Libraries/
AutomationBaseClasses/.vs/AutomationBaseClasses/v15/.suo
**/.vs
